<header class="my-2">
  <div class="flex flex-row justify-between items-center">
    <div class="flex flex-row items-center gap-1">
      <a href="/" class="nav-link"
        ><img
          class="logo max-h-20"
          src="assets/logo-no-bg.svg"
          alt="Erin Music Box Logo"
      /></a>
      <h1 class="text-5xl font-lora font-semibold text-primary drop-shadow-lg">
        erinmusicbox
      </h1>
    </div>

    <nav class="flex justify-center">
      <!-- <a href="/" class="nav-link">Home</a> -->
      <!-- <a href="/melody-catalog" class="nav-link">Melody Catalog</a> -->
      <!-- <a href="/blog" class="nav-link active">Blog</a> -->
      <!-- <a href="/midi-visualizer" class="nav-link">MIDI Visualizer</a> -->
      <!-- <a href="/midi-visualizer" class="nav-link">MIDI Visualizer</a> -->
    </nav>

    <div class="flex flex-row items-center">
      <div class="group inline-block relative">
        <a
          href="https://www.youtube.com/c/erinmusicbox/"
          aria-label="YouTube"
          target="_blank"
          class="flex flex-col items-center"
        >
          <img
            src="assets/youtube.svg"
            alt="YouTube"
            class="logo max-h-9 mb-1"
          />
          <span
            class="text-text-2 absolute opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out -bottom-6"
          >
            Watch
          </span>
        </a>
      </div>

      <div class="group inline-block relative">
        <a
          href="https://ko-fi.com/erinmusicbox"
          aria-label="Ko-Fi"
          target="_blank"
          class="flex flex-col items-center"
        >
          <img src="assets/ko-fi.svg" alt="Ko-Fi" class="logo max-h-9 mb-1" />
          <span
            class="text-text-2 absolute opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out -bottom-6"
          >
            Say Thanks
          </span>
        </a>
      </div>

      <div class="group inline-block relative">
        <a
          href="https://www.fiverr.com/erinmusicbox/arrange-any-song-for-your-diy-music-box-8343"
          aria-label="Fiverr"
          target="_blank"
          class="flex flex-col items-center"
        >
          <img src="assets/fiverr.svg" alt="Fiverr" class="logo max-h-9 mb-1" />
          <span
            class="text-text-2 absolute opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out -bottom-6"
          >
            Commission
          </span>
        </a>
      </div>

      <div class="group inline-block relative">
        <a
          href="https://musicboxmaniacs.com/people/erinmusicbox/"
          aria-label="Music Box Maniacs"
          target="_blank"
          class="flex flex-col items-center"
        >
          <img
            src="assets/mbm-logo.png"
            alt="Music Box Maniacs"
            class="logo max-h-9 mb-1"
          />
          <span
            class="text-text-2 absolute opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out -bottom-6"
          >
            Listen
          </span>
        </a>
      </div>
    </div>
  </div>
</header>
