<header class="my-8">
  <div class="flex flex-row justify-between items-center">
    <div class="flex flex-row items-center gap-1">
      <a href="/" class="nav-link"
        ><img
          class="logo max-h-20"
          src="assets/logo-no-bg.svg"
          alt="Erin Music Box Logo"
      /></a>
      <h1 class="text-5xl">erinmusicbox</h1>
    </div>

    <nav class="flex justify-center">
      <!-- <a href="/" class="nav-link">Home</a> -->
      <!-- <a href="/melody-catalog" class="nav-link">Melody Catalog</a> -->
      <!-- <a href="/blog" class="nav-link active">Blog</a> -->
      <!-- <a href="/midi-visualizer" class="nav-link">MIDI Visualizer</a> -->
      <!-- <a href="/midi-visualizer" class="nav-link">MIDI Visualizer</a> -->
    </nav>

    <div class="flex flex-row items-center">
      <a
        href="https://www.youtube.com/c/erinmusicbox/"
        aria-label="YouTube"
        target="_blank"
        ><img src="assets/youtube.svg" alt="YouTube" class="logo max-h-9"
      /></a>
      <a
        href="https://ko-fi.com/erinmusicbox"
        aria-label="Ko-Fi"
        target="_blank"
        ><img src="assets/ko-fi.svg" alt="Ko-Fi" class="logo max-h-9"
      /></a>
      <a
        href="https://www.fiverr.com/erinmusicbox/arrange-any-song-for-your-diy-music-box-8343"
        aria-label="Fiverr"
        target="_blank"
        ><img src="assets/fiverr.svg" alt="Fiverr" class="logo max-h-9"
      /></a>
      <a
        href="https://musicboxmaniacs.com/people/erinmusicbox/"
        aria-label="Music Box Maniacs"
        target="_blank"
        ><img
          src="assets/mbm-logo.png"
          alt="Music Box Maniacs"
          class="logo max-h-9"
      /></a>
    </div>
  </div>
</header>
