<div class="bg-white border rounded-lg overflow-hidden shadow-lg flex m-2">
  <!-- Play/Pause button area -->
  <div class="bg-gray-200 p-4 flex items-center justify-center">
    <button
      (click)="toggleAudioPlayback(audioTag)"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      {{ isPlaying ? "Stop" : "Play" }}
    </button>
  </div>

  <!-- Text content area -->
  <div class="p-4">
    <p class="text-lg font-semibold mb-0">{{ melody.title }}</p>
    <div *ngIf="melody.artist">
      <i class="fa-solid fa-user text-primary"></i>
      {{ melody.artist }}
    </div>
    <div>
      <i class="fa-solid fa-heartbeat text-primary"></i>
      {{ melody.bpm }} BPM
    </div>
    <div>
      <i class="text-primary fa-solid fa-music"></i>
      {{ melody.length }} lines
    </div>
    <div class="text-sm mt-1">
      <i class="text-primary"></i>
      {{ melody.description }}
    </div>
  </div>

  <!-- Audio tag (hidden from view) -->
  <audio #audioTag (ended)="audioEnded()">
    <source src="../../../assets/melodies/{{ melody.url }}" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>
</div>
