
body{
  margin: 60px
}

h1 {
  font-family: Arial, Helvetica, sans-serif

}

canvas{
  border: 1px solid black;
  background: mintcream;
  /* mintcream, #D3FCE8*/
}

source{
  margin: 20px;
}
  



/*
Discarded:

 border-left-style: solid;
    border-left-width: 0.5px;
    border-top-style: solid;
    border-top-width: .5px;
    border-right-width: .5px;
    border-right-style: solid;
    border-bottom-width: .5px;
    border-bottom-style: solid;

  */

