<h1>Music Box MIDI Visualizer</h1>
<div class="dropdown-select">
  <label for="filereader" class="click-button"> Select a MIDI file </label>
  <input type="file" id="filereader" (change)="listenForMidiFile($event)" />
</div>
<button class="click-button" onclick="runDemo()">Try demo file</button>

<div class="dropdown-select">
  <label for="boxType">Box Type: </label>
  <select id="boxType" (change)="setBoxType()" #boxType>
    <option value="15">15</option>
    <option value="20">20</option>
    <option value="30">30</option>
  </select>
</div>

<div class="dropdown-select">
  <label for="measures">Measures: </label>
  <select id="measures" (change)="setMeasureLength()" #measures>
    <option value="3">3/4</option>
    <option selected value="4">4/4</option>
    <option value="0">Off</option>
  </select>
</div>

<div class="dropdown-select">
  <label for="spacing">Note spacing: </label>
  <select name="" id="spacing" (change)="setSpacing()" #spacing>
    <option value="0.5">0.5x</option>
    <option value="0.67">0.67x</option>
    <option selected value="1">1x</option>
    <option value="1.5">1.5x</option>
    <option value="2">2x</option>
  </select>
</div>

<div *ngIf="fileName">
  <p>File: {{ fileName }}</p>
</div>

<div *ngIf="wrongFileExtensionMessage">
  <p>
    Bad MIDI file. Please select another file with the extension ".mid" after
    the page reloads in {{ countdown }} seconds.
    <a (click)="reloadNow()" class="custom-link">Reload now</a>
  </p>
</div>

<div *ngIf="midiParsingErrorMessage">
  <p>
    Oh no! Something went wrong with parsing your MIDI file. Please try a
    different file.
  </p>
</div>

<canvas #myCanvas></canvas>
<div *ngIf="omittedNoteCount > 0">
  <p>Warning: {{ omittedNoteCount }} notes omitted.</p>
</div>

<div>
  Made by <a href="https://bit.ly/erinmusicbox">erinmusicbox.</a>
  <p>
    The demo button isn't working right now, but don't worry, this app is still
    being updated! Last update: January 14th, 2024
  </p>
</div>
