<header class="my-2">
  <div class="flex flex-row justify-between items-center">
    <div class="flex flex-row items-center gap-1">
      <a href="/" class="nav-link"
        ><img
          class="w-24 max-h-20"
          src="assets/logo-no-bg.svg"
          alt="Erin Music Box Logo"
      /></a>
      <h1 class="text-5xl font-lora font-semibold text-primary drop-shadow-lg">
        erinmusicbox
      </h1>
    </div>

    <nav class="flex justify-center">
      <!-- <a href="/" class="nav-link">Home</a> -->
      <!-- <a href="/melody-catalog" class="nav-link">Melody Catalog</a> -->
      <!-- <a href="/blog" class="nav-link active">Blog</a> -->
      <!-- <a href="/midi-visualizer" class="nav-link">MIDI Visualizer</a> -->
      <!-- <a href="/midi-visualizer" class="nav-link">MIDI Visualizer</a> -->
    </nav>

    <div class="flex flex-row items-center">
      <div *ngFor="let item of socialLinks" class="group inline-block relative">
        <a
          [href]="item.url"
          [attr.aria-label]="item.name"
          target="_blank"
          class="flex flex-col items-center hover:text-primary transition-colors duration-300 ease-in-out"
        >
          <img
            [src]="item.icon"
            [alt]="item.name"
            class="w-24 max-h-9 mb-1"
            loading="lazy"
          />
          <span
            class="text-text-2 absolute opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out -bottom-6"
          >
            {{item.label}}
          </span>
        </a>
      </div>
    </div>
    
  </div>
</header>
