@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define color palette in styles.css */
:root {
  --primary: #e15554; /* Indian red */
  --secondary: #6c9a8b; /* Powder blue */
  --background: #fdf5ec; /* Linen */
  --accent-1: #c8aedb; /* Wisteria */
  --accent-2: #b89f7f; /* Taupe */
  --accent-3: #afb1a6; /* Gray-green */
  --text: #000000; /* Strong black */
  --text-2: #635d5c; /* Dark gray */
  --canvas: #fdfffe; /* Very light gray */
}

html {
  overflow-x: scroll;
}

body {
  padding: 20px;
  overflow-x: scroll;
  height: 100%;
}

h1 {
  color: var(--text-2);
}

source {
  margin: 20px;
}

input[type="file"] {
  display: none;
}

.click-button {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin: 6px;
  font-family: "Arial";
  background: #ffffff;
}

.click-button:hover {
  background: #def6f7;
}

/* Dropdown Button */
.dropbtn {
  background-color: #ffffff;
  padding: 6px 12px;
  border: 1px solid #ccc;
  font-size: 16px;
  cursor: pointer;
  margin: 6px;
  font-family: "Arial";
  display: inline-block;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 6px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #def6f7;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #def6f7;
}

.dropdown-select {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.custom-link {
  color: blue; /* Set the color to blue */
  text-decoration: underline; /* Underline for link-like appearance */
}

.custom-link:hover {
  color: darkblue; /* Darker blue on hover */
  text-decoration: none; /* Removes underline on hover */
}

ul {
  list-style-type: disc;
  padding-left: 1rem; /* Adjust padding to suit your design */
}
