<div class="page">
  <app-card>
    <div class="flex flex-col gap-5">
      <!-- Profile Picture -->
      <div class="flex justify-center">
        <img
          src="../../../assets/pfp.jpg"
          alt="Profile Picture"
          class="rounded-full border-4 border-gray-300"
          style="width: 200px; height: 200px"
        />
      </div>

      <!-- Biography -->
      <div class="flex flex-col gap-3">
        <h2 class="text-center">About Me</h2>
        <p class="text-center">
          Hi, I'm Erin and I'm the creator of erinmusicbox! 👋 I transcribe all
          my covers by ear and by hand with the help of an online sequencer.
          I've been arranging custom music for DIY music boxes since 2018, and
          creating digital music box arrangements since 2021. I run erinmusicbox
          alongside my career as a software engineer.
        </p>
        <ul class="list-disc list-inside text-left">
          <li *ngFor="let item of listItems">{{ item }}</li>
        </ul>
      </div>

      <!-- Links -->
      <!-- <div class="flex justify-center gap-4 mt-7">
        <a
          [href]="item.url"
          [attr.aria-label]="item.name"
          target="_blank"
          *ngFor="let item of socialLinks"
        >
          <img
            [src]="item.icon"
            [alt]="item.name"
            class="w-12 max-h-12 mb-1 mx-3"
            loading="lazy"
          />
        </a>
      </div> -->
    </div>
  </app-card>
</div>
